@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: "Azeret Mono";
}


/* banner container start here */

.container{
max-width: 100%;
height: 100vh;

margin: 0 auto;
background-image: url(./assets/Hero-bg.png);
display: flex;
justify-content: center;
align-items: center;
}

.background-png{
 width: 80%;
 height: 75%;
}

.group-png{
  width: 240.28px;
  height: 240px;
}

.container-div{
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}

.container-header{
  text-align: center;
}
.my-target{
  text-align: center;
}
.contect-button{
  background-color: #0D1321;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;

}
/* banner container end here */

 /* section 'Why Web Development??' start */

.Why-Web-Development{
  max-width: 100%;
  padding: 48px;
margin: 20px 25px;
background-color: rgba(13, 19, 33, 0.02);
display: flex;
flex-direction: column;

}
.why-web-dev{
 text-align: center;
 padding-top: 30px;
 padding-bottom: 30px;
 background-color: white;
}
.descrip-section-one{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  background-color: white;
  
}

.descrip-section-one-hpbtn{
  width: 50%;

}
.descrip-section-one-img{
  padding-left: 200px;
}
.descrip-section-two{
   margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
   background-color: white;
}
.descrip-section-three{
   margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
   background-color: white;
}
.lear-nmore-btn{

  background-color: white;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  
}
.h3-p-btn{
  margin: 20px 0 15px 5px;
}
 /* section 'Why Web Development??' end here */

 /* My Inspiration section start here */

.section-third{
  max-width: 100%;
  padding: 30px 5px 30px 5px;

margin: 20px 25px;
background-color: rgba(13, 19, 33, 0.02);
display: flex;
flex-direction: column ;
text-align: center ;

}
.h3-part{
  margin: 0 0 25px 0;
}
.section-third-h3-p{
  padding: 10px 0 40px 0;
  
}

  /* My Inspiration section end here */

  /* target section start here */
 .section-target{
  margin-top: 100px;
  margin-bottom: 10px;
  text-align: center;
 
 } 
 .section-target h3{
  margin-bottom: 20px;
 }
 .section-target  p{
  margin-top: 20px;
margin-bottom: 20px;
 }

 .html-css-java{

  padding: 50px;
  display: flex;
  

 }
 .html-div{
  margin: 10px 10px 10px 10px;
  padding: 40px 10px 40px 40px;
  background-color: rgba(255, 76, 30, 0.05);
  
  }

 .css-div{
  margin: 10px 10px 10px 10px;
     padding: 40px 10px 40px 40px;
background-color: rgba(0, 76, 232, 0.05);
 
 }
.java-div{
  margin: 10px 10px 10px 10px;
     padding: 40px 10px 40px 40px;
background-color: rgba(255, 223, 0, 0.05);
 
}
.learnmore-btn{

  cursor: pointer;
}
    /* target section end here */

    /* support section start here */
    .support{
      max-width: 1100px;
height: 80vh;
margin: 2px;

background-image: url(./assets/handshake.jpg);
background-repeat: no-repeat;
background-color:(0, 0, 0, 0.2);



    }
.h-two{
  color: white;
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
}

.p-tag{
  background-color: rgba(0, 0, 0, 0.1);
    color: white;
  text-align: center;
    padding-top: 30px;
}
.from{
  background-color: white;
  width: 60%;
  height: 10%;
  margin-top: 10px;
  margin-right: 10px;
 
}
.form-btn{
  display: flex;
  flex-direction: row;
justify-content: center;
}
.form-btn button{
  width: 10%;
  height: 10%;
  margin-top: 10px;
}
    /* support section end here */