@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
  font-family: "Azeret Mono";
}
/* banner container start here */

.container{
width: 1280px;
height: 650px;
margin-left: 0;
margin-right: 0;
top: 45px , px;
}

.background-png{
 width: 80%;
 height: 75%;

}



/* banner container end here */