@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: "Azeret Mono";
}


/* banner container start here */

.container{
max-width: 100%;
height: 100vh;

margin: 0 auto;
background-image: url(./assets/Hero-bg.png);
display: flex;
justify-content: center;
align-items: center;
}

.background-png{
 width: 80%;
 height: 75%;
}

.group-png{
  width: 240.28px;
  height: 240px;
}

.container-div{
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}

.container-header{
  text-align: center;
}
.my-target{
  text-align: center;
}
.contect-button{
  background-color: #0D1321;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;

}
/* banner container end here */

 /* section 'Why Web Development??' start */

.Why-Web-Development{
  max-width: 100%;
  padding: 48px;
margin: 20px 25px;
border: 2px solid red;
background-color: rgba(13, 19, 33, 0.02);
display: flex;
flex-direction: column;

}
.why-web-dev{
 text-align: center;
 padding-top: 30px;
 padding-bottom: 30px;
 background-color: white;
}
.descrip-section-one{
  display: flex;
  background-color: white;
  
}
.descrip-section-two{
  display: flex;
  flex-direction: row;
   background-color: white;
}
.descrip-section-three{
  display: flex;
  flex-direction: row-reverse;
   background-color: white;
}
.lear-nmore-btn{
  background-color: white;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
}
 /* section 'Why Web Development??' end here */